<footer class="site-footer">
  
    <p style="text-align:center">
      &copy;&nbsp;2021-Present, Seher Salim &nbsp; <br><br>
      <a href="https://www.linkedin.com/in/sehersalim" target="_blank">
        <img src="/images/ln.png" height="42" width="42"/>
      </a> &nbsp;
      <a href="https://github.com/sehersalim" target="_blank">
        <img src="/images/github.png" height="42" width="42"/>
      </a> &nbsp;
      <a href="https://twitter.com/wobblingpengui1" target="_blank">
        <img src="/images/twitter.png" height="42" width="42"/>
      </a> &nbsp;
      <a href="https://www.quora.com/profile/Seher-Salim" target="_blank">
        <img src="/images/quora.png" height="42" width="42"/>
      </a> &nbsp;
      <a href="/resume" target="_blank">
        <img src="/images/resume.png" height="42" width="42"/>
      </a>
    </p>
</footer>
